In [2]:
data = (10, 20, 30, 40)

third_data = data[2]
print(third_data)

30

In [7]:
A = {2, 4, 6, 8}
B = [1, 2, 3, 4, 5, 6]

set_B = set(B)

intersection = A & set_B
print(len(intersection))

3

In [8]:
nums = [1, 2, 2, 3, 4, 4, 4, 5]

non_duplicated_nums = set(nums)
print(list(non_duplicated_nums))

[1, 2, 3, 4, 5]

In [10]:
nums = [1, 2, 2, 3, 4, 4, 4, 5]

result = []
seen = set()

for num in nums:
    if num not in seen:
        result.append(num)
        seen.add(num)
    
print(result)

[1, 2, 3, 4, 5]

In [17]:
words = ['apple', 'banana', 'cherry', 'apple', 'banana', 'date']

result = []
seen = set()

for word in words:
    if not word in seen:
        result.append(word)
        seen.add(word)
        
result2 = []
seen2 = set()

for word2 in result:
    if not word2[0] in seen2:
        result2.append(word2[0])
        seen2.add(word2[0])

print(sorted(seen))
print(sorted(seen2))

['apple', 'banana', 'cherry', 'date']
['a', 'b', 'c', 'd']

In [7]:
words = ['apple', 'banana', 'cherry', 'apple', 'banana', 'date']

result = []
seen = set()

for word in words:
    if not word in seen:
        result.append(word)
        seen.add(word)
        
result2 = []
seen2 = set()

for word2 in result:
    if not word2[0] in seen2:
        result2.append(word2[0])
        seen2.add(word2[0])
        
print(sorted(seen))
print(sorted(seen2))

['apple', 'banana', 'cherry', 'date']
['a', 'b', 'c', 'd']

In [6]:
points = [(1, 2), (3, 4), (5, 6)]

total_list = []

for x, y in points:
    total = x + y
    total_list.append(total)
    
print(total_list)

[3, 7, 11]

In [ ]:
data = (1, (2, 3), (4, (5, 6)))

print(data[2][1][1])

(4, (5, 6))
6

In [18]:
A = {1, 3, 5, 7}
B = {3, 4, 5, 6}

print(A ^ B)
print((A | B) - (A & B))

{1, 4, 6, 7}
{1, 4, 6, 7}

In [19]:
people = [('Alice', 24), ('Bob', 17), ('Carol', 20), ('Dave', 16)]

name_list = []

for info in people:
    if int(info[1]) >= 20:
        name_list.append(info[0])
        
print(name_list)

['Alice', 'Carol']

In [20]:
people = [('Alice', 24), ('Bob', 17), ('Carol', 20), ('Dave', 16)]

name_list = []

for name, age in people:
    if age >= 20:
        name_list.append(name)
        
print(name_list)

['Alice', 'Carol']

In [ ]:
records = [
    ('Alice', ['apple', 'banana', 'cherry']),
    ('Bob',   ['banana', 'cherry']),
    ('Carol', ['banana', 'cherry', 'date']),
    ('Dave',  ['banana', 'cherry'])
]

result = set(records[0][1])

for i in range(1, len(records)):
    result = set(records[i][1]) & result

print(result)

{'banana', 'cherry'}